---
interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	</head>
	<body>
		<main>
		  <slot />
		</main>
	  </body>
	  <style>
  .cuerpo {
    font-family: "Inter", sans-serif;
  }
  .fade-in {
    animation: fadeIn 1.2s ease-in-out both;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
	    
</html>
